<?xml version="1.0" encoding="Shift_JIS" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <entry key="MonitoringPath">C:/Program Files (x86)/eclipse/workSpace/別子地区環境モニタリングシステム/WebContent</entry>
  <entry key="IntervalMinute">5</entry>
  <entry key="MenuWidth">3</entry>
  <entry key="SystemName">別子地区環境モニタリングシステム</entry>
  <entry key="DateFormat">yyyy/MM/dd HH:mm 現在</entry>
  <entry key="Alert">警報中</entry>
  <entry key="AlertStop">警報音停止</entry>
  <entry key="NotAlert">警報無し</entry>
  <entry key="GraphFont">ＭＳ ゴシック</entry>
  <entry key="GraphFontSize">18</entry>
  <entry key="GraphTitel">　</entry>
  <entry key="GraphXLabel">時刻</entry>
  <entry key="GraphYLabel">ガス濃度</entry>
  <entry key="GraphWidthType">true</entry>
  <entry key="GraphWidthBase">70</entry>
  <entry key="GraphWidth">1000</entry>
  <entry key="GraphHeight">625</entry>
  <entry key="Accuracy">2</entry>
</properties>
